body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
input, textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
}

.height30 {
	height: 30px;
	line-height: 30px;
}

#abc{
	color: red;
}