body {

}

a {
  color: #00B7FF;
}
input, textarea {
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 2rem;
	line-height: 2rem;
	font-size: 1.5rem;
}

.container {
	padding-top: 1rem;
}
.font-gray {
	color: #999;
}